@import url('https://fonts.googleapis.com/css?family=Dosis');

html {
	font-family: 'Dosis', cursive;
	background-color: blue;
	color: white;
	text-align: center;
}

body {
	width: 75%;
	margin: 0 auto;
}

img {
	width: 20em;
	border-radius: 50%;
	border: 2px solid white;
}